<!doctype html>
<html lang="pt-br">
    <head>
        <title>Blog - Rumo ao CRUD!</title>
        <meta charset="utf-8">
        
        <link rel="stylesheet"      href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet"      type="text/css" href="/css/style.css">
        <link rel="stylesheet"      type="text/css" href="/css/normalize.css">

        <meta name="viewport"       content="width=device-width, initial-scale=1.0">
        <meta name="author"         content="autor do site">
        <meta name="keywords"       content="palavras-separadas,por,virgula">
        <meta name="description"    content="descrição do site">
        <!-- fontawesome -->
        <script src="https://kit.fontawesome.com/944a9ba2fe.js" crossorigin="anonymous"></script>
    </head>
    <body>